# 資料前處理(Missing data, One-hot encoding, Feature Scaling)
資料的品質、特徵的選取決定了機器學習的上限，模型(Model)只是逼近這個上限。<br>
雖然在學術界總是以Model為主要討論對象，但實際上在業界80%的時間都是在對資料進行前處理，<br>
包含了資料獲取、清理、特徵選擇、特徵處理…到這裡我們可以稍微了解資料前處理的重要性。<br>

常見的資料前處理如下所示：<br>
1.缺失值的處理<br>
2.類別資料的處理（有序、無序）<br>
3.資料特徵縮放<br>

In [19]:
import numpy as np
import pandas as pd
from sklearn import datasets
from io import StringIO
import math

## 1. 缺失值的處理
缺值主要處理方式有兩種：<br>
*丟棄，如果資料量夠多<br>
*補值<br>

In [13]:
csv_data = '''A,B,C,D,E
            5.0,2.0,3.0,,6
            1.0,6.0,,8.0,5
            0.0,11.0,12.0,4.0,5
            3.0,,3.0,5.0,
            5.0,1.0,4.0,2.0,4
           '''
df = pd.read_csv(StringIO(csv_data))

In [9]:
df = pd.read_csv('preText.csv')

In [16]:
df

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [75]:
df.fillna(0)

     A     B     C    D    E
0  5.0   2.0   3.0  0.0  6.0
1  1.0   6.0   0.0  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   0.0   3.0  5.0  0.0
4  5.0   1.0   4.0  2.0  4.0

## Missing Data(空值資料處理)

使用Pandas去空值的方法“dropna”，dropna預設只要任一欄位有空值，就會整筆刪掉。<br>
可透過參數來調整，像是把how設為all，就是要全部為空才清掉，或是用subset指定當某一欄為空時才刪。

In [76]:
df.dropna(0)

     A     B     C    D    E
2  0.0  11.0  12.0  4.0  5.0
4  5.0   1.0   4.0  2.0  4.0

     A     B     C    D    E
2  0.0  11.0  12.0  4.0  5.0
4  5.0   1.0   4.0  2.0  4.0

In [97]:
print("NaN <- mean:")
print(df.fillna(df.mean()))

NaN <- mean:
     A     B     C     D    E
0  5.0   2.0   3.0  4.75  6.0
1  1.0   6.0   5.5  8.00  5.0
2  0.0  11.0  12.0  4.00  5.0
3  3.0   5.0   3.0  5.00  5.0
4  5.0   1.0   4.0  2.00  4.0

In [107]:
print("NaN <- median:")
print(df.fillna(df.median()))

NaN <- median:
     A     B     C    D    E
0  5.0   2.0   3.0  4.5  6.0
1  1.0   6.0   3.5  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   4.0   3.0  5.0  5.0
4  5.0   1.0   4.0  2.0  4.0

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

補值則使用fillna函式即可，依照以下範例即可補上固定值0、平均數、眾數、中位數…

In [111]:
print("NaN <- 0:")
print(df.fillna(0))

NaN <- 0:
     A     B     C    D    E
0  5.0   2.0   3.0  0.0  6.0
1  1.0   6.0   0.0  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   0.0   3.0  5.0  0.0
4  5.0   1.0   4.0  2.0  4.0

In [110]:
print("NaN <- mode:")
print(df.fillna(df.mode()))

NaN <- mode:
     A     B     C    D    E
0  5.0   2.0   3.0  2.0  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0  11.0   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [109]:
print("NaN <- median:")
print(df.fillna(df.median()))

NaN <- median:
     A     B     C    D    E
0  5.0   2.0   3.0  4.5  6.0
1  1.0   6.0   3.5  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   4.0   3.0  5.0  5.0
4  5.0   1.0   4.0  2.0  4.0

In [108]:
print("NaN <- median:")
print(df.fillna(df.median()))

NaN <- median:
     A     B     C    D    E
0  5.0   2.0   3.0  4.5  6.0
1  1.0   6.0   3.5  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   4.0   3.0  5.0  5.0
4  5.0   1.0   4.0  2.0  4.0

     A     B     C    D    E
0  5.0   2.0   3.0  4.5  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   5.0   3.0  5.0  4.0
4  5.0   1.0   4.0  2.0  4.0

## 2.Categorical Data(類別資料處理)
由於要在空間中表示點，所有的特徵都需要是數值，因此如果是類別的資料，<br>
像是XL,L,M,S,XS或是資料類別為Male, Female, Not Specified，就需要轉成數值才能在空間中來表示。<br>
有序的類別資料通常是直接使用數值替換，比方說XL, L, M, S, XS雖然是類別的屬性但因為有大小順序的關係，可以用10, 7 , 5, 3, 1來替換。<br>如果是Male, Female, Not Specified因為這三種都是等價的關係因此需要找一個方法讓這三個屬性距離原點是相同距離，<br>
One-hot encoding 就是解決這的問題的方法，首先會將Male, Female, Not Specified由Gender從成一個欄位拆成三個欄位，<br>
因此編號1的使用者的屬性資料就是(1,0,0)編號2的使用者就是(0,1,0) 編號三個使用者就是(0,0,1)這三個使用者對於原點的距離都是1，就達成我們想要的結果了。<br>
但One-hot encoding的方法只適合類別種類少的形況下，如果類別種類太多就會產生出一大堆的特徵，造成其他的問題（比方說維數災難）。

In [10]:
df2 = pd.DataFrame(
    [['green', 'M', 10.1, 1],
    ['red', 'L', 13.5, 2],
    ['blue', 'XL', 15.3, 1]]
)
df2.columns = ['color', 'size', 'price', 'classlabel']
df2

   color size  price  classlabel
0  green    M   10.1           1
1    red    L   13.5           2
2   blue   XL   15.3           1

由於size是屬於有序的資料，我們只要稍微轉換為數值即可

In [26]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
df3 = df2
df3['size'] = enc.fit_transform(df2['size'])
df3

   color  size  price  classlabel
0  green     1   10.1           1
1    red     0   13.5           2
2   blue     2   15.3           1

   color  size  price  classlabel
0  green     1   10.1           1
1    red     2   13.5           2
2   blue     3   15.3           1

至於color我們就用onehot-encoding的方法來處理，在pandas裡面要使用<br>
onehot-encoding使用get_dummies這個函式就可以了，範例如下

In [20]:
pd.get_dummies(df2['color'])

   blue  green  red
0     0      1    0
1     0      0    1
2     1      0    0

   blue  green  red
0     0      1    0
1     0      0    1
2     1      0    0

   size  price  classlabel
0     1   10.1           1
1     2   13.5           2
2     3   15.3           1

   color_blue  color_green  color_red  size  price  classlabel
0           0            1          0     1   10.1           1
1           0            0          1     2   13.5           2
2           1            0          0     3   15.3           1

# 3.資料特徵縮放
## 資料正規化(normalization)
最常見的Normalization為0–1區間縮放，經過Normalization之後資料的範圍會介在0~1之間，<br>
原本的最大值變為1，最小值變為0，具體作法如下圖

In [2]:
from IPython.display import Math

In [3]:
Math(r'x^{(i)}_{norm}=\frac{x^{(i)}-x_{min}}{x_{max}-x_{min}}')

In [27]:
import numpy as np
import pandas as pd
from sklearn import datasets
from io import StringIO

iris = datasets.load_iris()
x = pd.DataFrame(iris['data'], columns=iris['feature_names'])
print("target_names: "+str(iris['target_names']))
y = pd.DataFrame(iris['target'], columns=['target_names'])
data = pd.concat([x,y], axis=1)
data.head(3)

target_names: ['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [33]:
from sklearn.preprocessing import Normalizer
scaler = Normalizer()
scaler.fit_transform(data)

array([[0.80377277, 0.55160877, 0.22064351, 0.0315205 , 0.        ],
       [0.82813287, 0.50702013, 0.23660939, 0.03380134, 0.        ],
       [0.80533308, 0.54831188, 0.2227517 , 0.03426949, 0.        ],
       [0.80003025, 0.53915082, 0.26087943, 0.03478392, 0.        ],
       [0.790965  , 0.5694948 , 0.2214702 , 0.0316386 , 0.        ],
       [0.78417499, 0.5663486 , 0.2468699 , 0.05808704, 0.        ],
       [0.78010936, 0.57660257, 0.23742459, 0.0508767 , 0.        ],
       [0.80218492, 0.54548574, 0.24065548, 0.0320874 , 0.        ],
       [0.80642366, 0.5315065 , 0.25658935, 0.03665562, 0.        ],
       [0.81803119, 0.51752994, 0.25041771, 0.01669451, 0.        ],
       [0.80373519, 0.55070744, 0.22325977, 0.02976797, 0.        ],
       [0.786991  , 0.55745196, 0.26233033, 0.03279129, 0.        ],
       [0.82307218, 0.51442011, 0.24006272, 0.01714734, 0.        ],
       [0.8025126 , 0.55989251, 0.20529392, 0.01866308, 0.        ],
       [0.81120865, 0.55945424, 0.16783627, 0.02797271, 0.        ],
       [0.77381111, 0.59732787, 0.2036345 , 0.05430253, 0.        ],
       [0.79428944, 0.57365349, 0.19121783, 0.05883625, 0.        ],
       [0.80327412, 0.55126656, 0.22050662, 0.04725142, 0.        ],
       [0.8068282 , 0.53788547, 0.24063297, 0.04246464, 0.        ],
       [0.77964883, 0.58091482, 0.22930848, 0.0458617 , 0.        ],
       [0.8173379 , 0.51462016, 0.25731008, 0.03027177, 0.        ],
       [0.78591858, 0.57017622, 0.23115252, 0.06164067, 0.        ],
       [0.77577075, 0.60712493, 0.16864581, 0.03372916, 0.        ],
       [0.80597792, 0.52151512, 0.26865931, 0.07901744, 0.        ],
       [0.776114  , 0.54974742, 0.30721179, 0.03233808, 0.        ],
       [0.82647451, 0.4958847 , 0.26447184, 0.03305898, 0.        ],
       [0.79778206, 0.5424918 , 0.25529026, 0.06382256, 0.        ],
       [0.80641965, 0.54278246, 0.23262105, 0.03101614, 0.        ],
       [0.81609427, 0.5336001 , 0.21971769, 0.03138824, 0.        ],
       [0.79524064, 0.54144043, 0.27072022, 0.03384003, 0.        ],
       [0.80846584, 0.52213419, 0.26948861, 0.03368608, 0.        ],
       [0.82225028, 0.51771314, 0.22840286, 0.06090743, 0.        ],
       [0.76578311, 0.60379053, 0.22089897, 0.0147266 , 0.        ],
       [0.77867447, 0.59462414, 0.19820805, 0.02831544, 0.        ],
       [0.81768942, 0.51731371, 0.25031309, 0.03337508, 0.        ],
       [0.82512295, 0.52807869, 0.19802951, 0.03300492, 0.        ],
       [0.82699754, 0.52627116, 0.19547215, 0.03007264, 0.        ],
       [0.78523221, 0.5769053 , 0.22435206, 0.01602515, 0.        ],
       [0.80212413, 0.54690282, 0.23699122, 0.03646019, 0.        ],
       [0.80779568, 0.53853046, 0.23758697, 0.03167826, 0.        ],
       [0.80033301, 0.56023311, 0.20808658, 0.04801998, 0.        ],
       [0.86093857, 0.44003527, 0.24871559, 0.0573959 , 0.        ],
       [0.78609038, 0.57170209, 0.23225397, 0.03573138, 0.        ],
       [0.78889479, 0.55222635, 0.25244633, 0.09466737, 0.        ],
       [0.76693897, 0.57144472, 0.28572236, 0.06015208, 0.        ],
       [0.82210585, 0.51381615, 0.23978087, 0.05138162, 0.        ],
       [0.77729093, 0.57915795, 0.24385598, 0.030482  , 0.        ],
       [0.79594782, 0.55370283, 0.24224499, 0.03460643, 0.        ],
       [0.79837025, 0.55735281, 0.22595384, 0.03012718, 0.        ],
       [0.81228363, 0.5361072 , 0.22743942, 0.03249135, 0.        ],
       [0.76244762, 0.34854748, 0.51192912, 0.15248952, 0.10892109],
       [0.74049081, 0.37024541, 0.5206576 , 0.17355253, 0.11570169],
       [0.75070989, 0.33727546, 0.53311282, 0.1631978 , 0.10879853],
       [0.74686634, 0.31232592, 0.54317552, 0.17653204, 0.13579388],
       [0.75306978, 0.32439929, 0.53294169, 0.17378533, 0.11585689],
       [0.71659857, 0.35201333, 0.56573571, 0.16343476, 0.12571905],
       [0.72156854, 0.37796447, 0.53831304, 0.1832555 , 0.11453469],
       [0.75021485, 0.36745217, 0.50524673, 0.15310507, 0.15310507],
       [0.75797005, 0.33304745, 0.52828216, 0.14929713, 0.11484395],
       [0.71766818, 0.3726354 , 0.53825114, 0.19321836, 0.13801311],
       [0.76028592, 0.30411437, 0.53220014, 0.15205718, 0.15205718],
       [0.73349958, 0.37296589, 0.52215225, 0.18648294, 0.12432196],
       [0.78219479, 0.28680476, 0.52146319, 0.1303658 , 0.1303658 ],
       [0.72562509, 0.3449693 , 0.55908818, 0.16653691, 0.11895493],
       [0.75223713, 0.38955137, 0.48358101, 0.17462648, 0.13432806],
       [0.76442987, 0.35369143, 0.50201365, 0.15973162, 0.11409401],
       [0.70076688, 0.37541083, 0.56311625, 0.18770542, 0.12513694],
       [0.75040442, 0.3493262 , 0.5304583 , 0.12938007, 0.12938007],
       [0.7586972 , 0.26921514, 0.55066732, 0.18355577, 0.12237052],
       [0.75489799, 0.33700803, 0.52573253, 0.14828353, 0.13480321],
       [0.69373368, 0.37626233, 0.5643935 , 0.21164756, 0.11758198],
       [0.76405356, 0.35071311, 0.50101873, 0.16283109, 0.12525468],
       [0.73635122, 0.29220286, 0.57271761, 0.17532172, 0.11688115],
       [0.73128661, 0.33567254, 0.56345034, 0.14385966, 0.11988305],
       [0.76195876, 0.34526256, 0.51194104, 0.15477287, 0.11905606],
       [0.76271277, 0.34668762, 0.50847518, 0.16178756, 0.11556254],
       [0.75988327, 0.31289311, 0.53638819, 0.15644655, 0.11174754],
       [0.73639714, 0.32973006, 0.5495501 , 0.18684703, 0.10991002],
       [0.72808886, 0.35190961, 0.54606664, 0.18202221, 0.12134814],
       [0.77928796, 0.35546468, 0.47851015, 0.13671719, 0.13671719],
       [0.75791807, 0.33072789, 0.52365249, 0.15158361, 0.13780329],
       [0.76492247, 0.33378435, 0.51458421, 0.13907681, 0.13907681],
       [0.75779775, 0.35276792, 0.50955366, 0.15678574, 0.13065478],
       [0.70292124, 0.31631456, 0.59748305, 0.18744566, 0.11715354],
       [0.68768888, 0.38204938, 0.57307406, 0.19102469, 0.12734979],
       [0.71022082, 0.40245847, 0.53266562, 0.18939222, 0.11837014],
       [0.74983298, 0.34693765, 0.52600224, 0.16787306, 0.11191537],
       [0.76949524, 0.28092683, 0.53742525, 0.15878473, 0.1221421 ],
       [0.72380182, 0.38775097, 0.52992633, 0.16802542, 0.12925032],
       [0.74034218, 0.33651917, 0.53843068, 0.17498997, 0.13460767],
       [0.71719475, 0.33903752, 0.5737558 , 0.15647885, 0.13039904],
       [0.72737694, 0.35772636, 0.54851376, 0.16693897, 0.11924212],
       [0.75612163, 0.33895108, 0.52146319, 0.15643896, 0.1303658 ],
       [0.76090193, 0.35001489, 0.50219527, 0.15218039, 0.15218039],
       [0.7291815 , 0.35156965, 0.54688613, 0.16927428, 0.13021098],
       [0.72642416, 0.3823285 , 0.53525991, 0.1529314 , 0.12744283],
       [0.72843822, 0.37060892, 0.53674395, 0.16613503, 0.12779618],
       [0.75169464, 0.35159911, 0.52133661, 0.15761339, 0.12124107],
       [0.77352678, 0.3791798 , 0.45501576, 0.16683911, 0.15167192],
       [0.73691153, 0.36199163, 0.53005917, 0.16806754, 0.12928273],
       [0.64022936, 0.33535823, 0.60974224, 0.25405927, 0.20324741],
       [0.67174458, 0.31270868, 0.59067196, 0.22005426, 0.23163606],
       [0.70084372, 0.29613115, 0.58239126, 0.2072918 , 0.19742077],
       [0.67659845, 0.31145008, 0.60142085, 0.19331384, 0.21479316],
       [0.67138873, 0.30987172, 0.59908533, 0.22723926, 0.20658115],
       [0.69748257, 0.27532207, 0.60570855, 0.19272545, 0.18354804],
       [0.6467555 , 0.3299773 , 0.59395914, 0.22438456, 0.26398184],
       [0.70040296, 0.27824227, 0.60445735, 0.1727021 , 0.19189122],
       [0.69844737, 0.26061469, 0.60462608, 0.18764258, 0.20849175],
       [0.67954775, 0.33977387, 0.57572795, 0.23595408, 0.18876326],
       [0.69888433, 0.34406613, 0.5483554 , 0.21504133, 0.21504133],
       [0.69850517, 0.29468187, 0.57844959, 0.20736872, 0.21828287],
       [0.70173981, 0.30959109, 0.56758367, 0.21671377, 0.20639406],
       [0.67296762, 0.29516124, 0.59032247, 0.23612899, 0.23612899],
       [0.65990094, 0.31857287, 0.58025773, 0.27306246, 0.22755205],
       [0.68000505, 0.34000252, 0.56312918, 0.24437681, 0.21250158],
       [0.69000723, 0.31846488, 0.58385228, 0.19107893, 0.21230992],
       [0.68203046, 0.33658646, 0.59345507, 0.19486584, 0.17715077],
       [0.69442678, 0.23448177, 0.62227854, 0.20742618, 0.18037059],
       [0.70666525, 0.25911059, 0.58888771, 0.17666631, 0.23555508],
       [0.69128005, 0.32059365, 0.57105744, 0.23042668, 0.20037103],
       [0.66361705, 0.33180852, 0.58066492, 0.23700609, 0.23700609],
       [0.70285205, 0.25558256, 0.61157256, 0.18255897, 0.18255897],
       [0.71228514, 0.30526506, 0.55399955, 0.20351004, 0.22612227],
       [0.68140683, 0.33561829, 0.57970432, 0.21357527, 0.20340502],
       [0.70157979, 0.31181324, 0.58464983, 0.17539495, 0.19488328],
       [0.708583  , 0.32000522, 0.54858039, 0.20571764, 0.22857516],
       [0.69309232, 0.34086508, 0.55674629, 0.20451905, 0.22724338],
       [0.68004343, 0.297519  , 0.595038  , 0.22313925, 0.21251357],
       [0.71628495, 0.29845206, 0.57700732, 0.15917443, 0.19896804],
       [0.7139851 , 0.27015652, 0.58855528, 0.1833205 , 0.19296894],
       [0.70431917, 0.33878644, 0.57058768, 0.17830865, 0.17830865],
       [0.67839864, 0.29679941, 0.59359881, 0.23319953, 0.21199958],
       [0.70528771, 0.31346121, 0.57094719, 0.16792565, 0.22390086],
       [0.67656772, 0.28837313, 0.62111135, 0.15527784, 0.22182548],
       [0.71868519, 0.28000722, 0.56934801, 0.2146722 , 0.18667148],
       [0.65550359, 0.35376384, 0.58266986, 0.24971566, 0.20809638],
       [0.68200983, 0.33034851, 0.5861022 , 0.19181526, 0.21312807],
       [0.69153067, 0.34576533, 0.55322453, 0.2074592 , 0.23051022],
       [0.70870881, 0.31840541, 0.55464167, 0.21569398, 0.20542284],
       [0.6851733 , 0.31702048, 0.57268216, 0.24543521, 0.20452934],
       [0.71735029, 0.32228781, 0.53021543, 0.23911676, 0.20792762],
       [0.67174458, 0.31270868, 0.59067196, 0.22005426, 0.23163606],
       [0.67803654, 0.31907602, 0.58829641, 0.22933589, 0.19942251],
       [0.67501372, 0.33246944, 0.5742654 , 0.25187079, 0.20149663],
       [0.70538041, 0.31584197, 0.54745942, 0.24214551, 0.21056132],
       [0.71083279, 0.28207651, 0.56415301, 0.21437814, 0.2256612 ],
       [0.69973423, 0.32295426, 0.55978739, 0.21530284, 0.21530284],
       [0.65923882, 0.36151806, 0.57417574, 0.24455634, 0.21265768],
       [0.67210559, 0.34174861, 0.58097263, 0.20504916, 0.2278324 ]])

## 資料標準化(Standardization)
經過Standardization資料的平均值會變為0, 標準差變為1

In [4]:
Math(r'x^{(i)}_{std}=\frac{x^{(i)}-\mu_{x}}{\sigma_{x}}')

In [34]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit_transform(data)

array([[-9.00681170e-01,  1.01900435e+00, -1.34022653e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.14301691e+00, -1.31979479e-01, -1.34022653e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.38535265e+00,  3.28414053e-01, -1.39706395e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.50652052e+00,  9.82172869e-02, -1.28338910e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.02184904e+00,  1.24920112e+00, -1.34022653e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-5.37177559e-01,  1.93979142e+00, -1.16971425e+00,
        -1.05217993e+00, -1.22474487e+00],
       [-1.50652052e+00,  7.88807586e-01, -1.34022653e+00,
        -1.18381211e+00, -1.22474487e+00],
       [-1.02184904e+00,  7.88807586e-01, -1.28338910e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.74885626e+00, -3.62176246e-01, -1.34022653e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.14301691e+00,  9.82172869e-02, -1.28338910e+00,
        -1.44707648e+00, -1.22474487e+00],
       [-5.37177559e-01,  1.47939788e+00, -1.28338910e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.26418478e+00,  7.88807586e-01, -1.22655167e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.26418478e+00, -1.31979479e-01, -1.34022653e+00,
        -1.44707648e+00, -1.22474487e+00],
       [-1.87002413e+00, -1.31979479e-01, -1.51073881e+00,
        -1.44707648e+00, -1.22474487e+00],
       [-5.25060772e-02,  2.16998818e+00, -1.45390138e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.73673948e-01,  3.09077525e+00, -1.28338910e+00,
        -1.05217993e+00, -1.22474487e+00],
       [-5.37177559e-01,  1.93979142e+00, -1.39706395e+00,
        -1.05217993e+00, -1.22474487e+00],
       [-9.00681170e-01,  1.01900435e+00, -1.34022653e+00,
        -1.18381211e+00, -1.22474487e+00],
       [-1.73673948e-01,  1.70959465e+00, -1.16971425e+00,
        -1.18381211e+00, -1.22474487e+00],
       [-9.00681170e-01,  1.70959465e+00, -1.28338910e+00,
        -1.18381211e+00, -1.22474487e+00],
       [-5.37177559e-01,  7.88807586e-01, -1.16971425e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-9.00681170e-01,  1.47939788e+00, -1.28338910e+00,
        -1.05217993e+00, -1.22474487e+00],
       [-1.50652052e+00,  1.24920112e+00, -1.56757623e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-9.00681170e-01,  5.58610819e-01, -1.16971425e+00,
        -9.20547742e-01, -1.22474487e+00],
       [-1.26418478e+00,  7.88807586e-01, -1.05603939e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.02184904e+00, -1.31979479e-01, -1.22655167e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.02184904e+00,  7.88807586e-01, -1.22655167e+00,
        -1.05217993e+00, -1.22474487e+00],
       [-7.79513300e-01,  1.01900435e+00, -1.28338910e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-7.79513300e-01,  7.88807586e-01, -1.34022653e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.38535265e+00,  3.28414053e-01, -1.22655167e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.26418478e+00,  9.82172869e-02, -1.22655167e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-5.37177559e-01,  7.88807586e-01, -1.28338910e+00,
        -1.05217993e+00, -1.22474487e+00],
       [-7.79513300e-01,  2.40018495e+00, -1.28338910e+00,
        -1.44707648e+00, -1.22474487e+00],
       [-4.16009689e-01,  2.63038172e+00, -1.34022653e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.14301691e+00,  9.82172869e-02, -1.28338910e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.02184904e+00,  3.28414053e-01, -1.45390138e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-4.16009689e-01,  1.01900435e+00, -1.39706395e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.14301691e+00,  1.24920112e+00, -1.34022653e+00,
        -1.44707648e+00, -1.22474487e+00],
       [-1.74885626e+00, -1.31979479e-01, -1.39706395e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-9.00681170e-01,  7.88807586e-01, -1.28338910e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.02184904e+00,  1.01900435e+00, -1.39706395e+00,
        -1.18381211e+00, -1.22474487e+00],
       [-1.62768839e+00, -1.74335684e+00, -1.39706395e+00,
        -1.18381211e+00, -1.22474487e+00],
       [-1.74885626e+00,  3.28414053e-01, -1.39706395e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.02184904e+00,  1.01900435e+00, -1.22655167e+00,
        -7.88915558e-01, -1.22474487e+00],
       [-9.00681170e-01,  1.70959465e+00, -1.05603939e+00,
        -1.05217993e+00, -1.22474487e+00],
       [-1.26418478e+00, -1.31979479e-01, -1.34022653e+00,
        -1.18381211e+00, -1.22474487e+00],
       [-9.00681170e-01,  1.70959465e+00, -1.22655167e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.50652052e+00,  3.28414053e-01, -1.34022653e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-6.58345429e-01,  1.47939788e+00, -1.28338910e+00,
        -1.31544430e+00, -1.22474487e+00],
       [-1.02184904e+00,  5.58610819e-01, -1.34022653e+00,
        -1.31544430e+00, -1.22474487e+00],
       [ 1.40150837e+00,  3.28414053e-01,  5.35408562e-01,
         2.64141916e-01,  0.00000000e+00],
       [ 6.74501145e-01,  3.28414053e-01,  4.21733708e-01,
         3.95774101e-01,  0.00000000e+00],
       [ 1.28034050e+00,  9.82172869e-02,  6.49083415e-01,
         3.95774101e-01,  0.00000000e+00],
       [-4.16009689e-01, -1.74335684e+00,  1.37546573e-01,
         1.32509732e-01,  0.00000000e+00],
       [ 7.95669016e-01, -5.92373012e-01,  4.78571135e-01,
         3.95774101e-01,  0.00000000e+00],
       [-1.73673948e-01, -5.92373012e-01,  4.21733708e-01,
         1.32509732e-01,  0.00000000e+00],
       [ 5.53333275e-01,  5.58610819e-01,  5.35408562e-01,
         5.27406285e-01,  0.00000000e+00],
       [-1.14301691e+00, -1.51316008e+00, -2.60315415e-01,
        -2.62386821e-01,  0.00000000e+00],
       [ 9.16836886e-01, -3.62176246e-01,  4.78571135e-01,
         1.32509732e-01,  0.00000000e+00],
       [-7.79513300e-01, -8.22569778e-01,  8.07091462e-02,
         2.64141916e-01,  0.00000000e+00],
       [-1.02184904e+00, -2.43394714e+00, -1.46640561e-01,
        -2.62386821e-01,  0.00000000e+00],
       [ 6.86617933e-02, -1.31979479e-01,  2.51221427e-01,
         3.95774101e-01,  0.00000000e+00],
       [ 1.89829664e-01, -1.97355361e+00,  1.37546573e-01,
        -2.62386821e-01,  0.00000000e+00],
       [ 3.10997534e-01, -3.62176246e-01,  5.35408562e-01,
         2.64141916e-01,  0.00000000e+00],
       [-2.94841818e-01, -3.62176246e-01, -8.98031345e-02,
         1.32509732e-01,  0.00000000e+00],
       [ 1.03800476e+00,  9.82172869e-02,  3.64896281e-01,
         2.64141916e-01,  0.00000000e+00],
       [-2.94841818e-01, -1.31979479e-01,  4.21733708e-01,
         3.95774101e-01,  0.00000000e+00],
       [-5.25060772e-02, -8.22569778e-01,  1.94384000e-01,
        -2.62386821e-01,  0.00000000e+00],
       [ 4.32165405e-01, -1.97355361e+00,  4.21733708e-01,
         3.95774101e-01,  0.00000000e+00],
       [-2.94841818e-01, -1.28296331e+00,  8.07091462e-02,
        -1.30754636e-01,  0.00000000e+00],
       [ 6.86617933e-02,  3.28414053e-01,  5.92245988e-01,
         7.90670654e-01,  0.00000000e+00],
       [ 3.10997534e-01, -5.92373012e-01,  1.37546573e-01,
         1.32509732e-01,  0.00000000e+00],
       [ 5.53333275e-01, -1.28296331e+00,  6.49083415e-01,
         3.95774101e-01,  0.00000000e+00],
       [ 3.10997534e-01, -5.92373012e-01,  5.35408562e-01,
         8.77547895e-04,  0.00000000e+00],
       [ 6.74501145e-01, -3.62176246e-01,  3.08058854e-01,
         1.32509732e-01,  0.00000000e+00],
       [ 9.16836886e-01, -1.31979479e-01,  3.64896281e-01,
         2.64141916e-01,  0.00000000e+00],
       [ 1.15917263e+00, -5.92373012e-01,  5.92245988e-01,
         2.64141916e-01,  0.00000000e+00],
       [ 1.03800476e+00, -1.31979479e-01,  7.05920842e-01,
         6.59038469e-01,  0.00000000e+00],
       [ 1.89829664e-01, -3.62176246e-01,  4.21733708e-01,
         3.95774101e-01,  0.00000000e+00],
       [-1.73673948e-01, -1.05276654e+00, -1.46640561e-01,
        -2.62386821e-01,  0.00000000e+00],
       [-4.16009689e-01, -1.51316008e+00,  2.38717193e-02,
        -1.30754636e-01,  0.00000000e+00],
       [-4.16009689e-01, -1.51316008e+00, -3.29657076e-02,
        -2.62386821e-01,  0.00000000e+00],
       [-5.25060772e-02, -8.22569778e-01,  8.07091462e-02,
         8.77547895e-04,  0.00000000e+00],
       [ 1.89829664e-01, -8.22569778e-01,  7.62758269e-01,
         5.27406285e-01,  0.00000000e+00],
       [-5.37177559e-01, -1.31979479e-01,  4.21733708e-01,
         3.95774101e-01,  0.00000000e+00],
       [ 1.89829664e-01,  7.88807586e-01,  4.21733708e-01,
         5.27406285e-01,  0.00000000e+00],
       [ 1.03800476e+00,  9.82172869e-02,  5.35408562e-01,
         3.95774101e-01,  0.00000000e+00],
       [ 5.53333275e-01, -1.74335684e+00,  3.64896281e-01,
         1.32509732e-01,  0.00000000e+00],
       [-2.94841818e-01, -1.31979479e-01,  1.94384000e-01,
         1.32509732e-01,  0.00000000e+00],
       [-4.16009689e-01, -1.28296331e+00,  1.37546573e-01,
         1.32509732e-01,  0.00000000e+00],
       [-4.16009689e-01, -1.05276654e+00,  3.64896281e-01,
         8.77547895e-04,  0.00000000e+00],
       [ 3.10997534e-01, -1.31979479e-01,  4.78571135e-01,
         2.64141916e-01,  0.00000000e+00],
       [-5.25060772e-02, -1.05276654e+00,  1.37546573e-01,
         8.77547895e-04,  0.00000000e+00],
       [-1.02184904e+00, -1.74335684e+00, -2.60315415e-01,
        -2.62386821e-01,  0.00000000e+00],
       [-2.94841818e-01, -8.22569778e-01,  2.51221427e-01,
         1.32509732e-01,  0.00000000e+00],
       [-1.73673948e-01, -1.31979479e-01,  2.51221427e-01,
         8.77547895e-04,  0.00000000e+00],
       [-1.73673948e-01, -3.62176246e-01,  2.51221427e-01,
         1.32509732e-01,  0.00000000e+00],
       [ 4.32165405e-01, -3.62176246e-01,  3.08058854e-01,
         1.32509732e-01,  0.00000000e+00],
       [-9.00681170e-01, -1.28296331e+00, -4.30827696e-01,
        -1.30754636e-01,  0.00000000e+00],
       [-1.73673948e-01, -5.92373012e-01,  1.94384000e-01,
         1.32509732e-01,  0.00000000e+00],
       [ 5.53333275e-01,  5.58610819e-01,  1.27429511e+00,
         1.71209594e+00,  1.22474487e+00],
       [-5.25060772e-02, -8.22569778e-01,  7.62758269e-01,
         9.22302838e-01,  1.22474487e+00],
       [ 1.52267624e+00, -1.31979479e-01,  1.21745768e+00,
         1.18556721e+00,  1.22474487e+00],
       [ 5.53333275e-01, -3.62176246e-01,  1.04694540e+00,
         7.90670654e-01,  1.22474487e+00],
       [ 7.95669016e-01, -1.31979479e-01,  1.16062026e+00,
         1.31719939e+00,  1.22474487e+00],
       [ 2.12851559e+00, -1.31979479e-01,  1.61531967e+00,
         1.18556721e+00,  1.22474487e+00],
       [-1.14301691e+00, -1.28296331e+00,  4.21733708e-01,
         6.59038469e-01,  1.22474487e+00],
       [ 1.76501198e+00, -3.62176246e-01,  1.44480739e+00,
         7.90670654e-01,  1.22474487e+00],
       [ 1.03800476e+00, -1.28296331e+00,  1.16062026e+00,
         7.90670654e-01,  1.22474487e+00],
       [ 1.64384411e+00,  1.24920112e+00,  1.33113254e+00,
         1.71209594e+00,  1.22474487e+00],
       [ 7.95669016e-01,  3.28414053e-01,  7.62758269e-01,
         1.05393502e+00,  1.22474487e+00],
       [ 6.74501145e-01, -8.22569778e-01,  8.76433123e-01,
         9.22302838e-01,  1.22474487e+00],
       [ 1.15917263e+00, -1.31979479e-01,  9.90107977e-01,
         1.18556721e+00,  1.22474487e+00],
       [-1.73673948e-01, -1.28296331e+00,  7.05920842e-01,
         1.05393502e+00,  1.22474487e+00],
       [-5.25060772e-02, -5.92373012e-01,  7.62758269e-01,
         1.58046376e+00,  1.22474487e+00],
       [ 6.74501145e-01,  3.28414053e-01,  8.76433123e-01,
         1.44883158e+00,  1.22474487e+00],
       [ 7.95669016e-01, -1.31979479e-01,  9.90107977e-01,
         7.90670654e-01,  1.22474487e+00],
       [ 2.24968346e+00,  1.70959465e+00,  1.67215710e+00,
         1.31719939e+00,  1.22474487e+00],
       [ 2.24968346e+00, -1.05276654e+00,  1.78583195e+00,
         1.44883158e+00,  1.22474487e+00],
       [ 1.89829664e-01, -1.97355361e+00,  7.05920842e-01,
         3.95774101e-01,  1.22474487e+00],
       [ 1.28034050e+00,  3.28414053e-01,  1.10378283e+00,
         1.44883158e+00,  1.22474487e+00],
       [-2.94841818e-01, -5.92373012e-01,  6.49083415e-01,
         1.05393502e+00,  1.22474487e+00],
       [ 2.24968346e+00, -5.92373012e-01,  1.67215710e+00,
         1.05393502e+00,  1.22474487e+00],
       [ 5.53333275e-01, -8.22569778e-01,  6.49083415e-01,
         7.90670654e-01,  1.22474487e+00],
       [ 1.03800476e+00,  5.58610819e-01,  1.10378283e+00,
         1.18556721e+00,  1.22474487e+00],
       [ 1.64384411e+00,  3.28414053e-01,  1.27429511e+00,
         7.90670654e-01,  1.22474487e+00],
       [ 4.32165405e-01, -5.92373012e-01,  5.92245988e-01,
         7.90670654e-01,  1.22474487e+00],
       [ 3.10997534e-01, -1.31979479e-01,  6.49083415e-01,
         7.90670654e-01,  1.22474487e+00],
       [ 6.74501145e-01, -5.92373012e-01,  1.04694540e+00,
         1.18556721e+00,  1.22474487e+00],
       [ 1.64384411e+00, -1.31979479e-01,  1.16062026e+00,
         5.27406285e-01,  1.22474487e+00],
       [ 1.88617985e+00, -5.92373012e-01,  1.33113254e+00,
         9.22302838e-01,  1.22474487e+00],
       [ 2.49201920e+00,  1.70959465e+00,  1.50164482e+00,
         1.05393502e+00,  1.22474487e+00],
       [ 6.74501145e-01, -5.92373012e-01,  1.04694540e+00,
         1.31719939e+00,  1.22474487e+00],
       [ 5.53333275e-01, -5.92373012e-01,  7.62758269e-01,
         3.95774101e-01,  1.22474487e+00],
       [ 3.10997534e-01, -1.05276654e+00,  1.04694540e+00,
         2.64141916e-01,  1.22474487e+00],
       [ 2.24968346e+00, -1.31979479e-01,  1.33113254e+00,
         1.44883158e+00,  1.22474487e+00],
       [ 5.53333275e-01,  7.88807586e-01,  1.04694540e+00,
         1.58046376e+00,  1.22474487e+00],
       [ 6.74501145e-01,  9.82172869e-02,  9.90107977e-01,
         7.90670654e-01,  1.22474487e+00],
       [ 1.89829664e-01, -1.31979479e-01,  5.92245988e-01,
         7.90670654e-01,  1.22474487e+00],
       [ 1.28034050e+00,  9.82172869e-02,  9.33270550e-01,
         1.18556721e+00,  1.22474487e+00],
       [ 1.03800476e+00,  9.82172869e-02,  1.04694540e+00,
         1.58046376e+00,  1.22474487e+00],
       [ 1.28034050e+00,  9.82172869e-02,  7.62758269e-01,
         1.44883158e+00,  1.22474487e+00],
       [-5.25060772e-02, -8.22569778e-01,  7.62758269e-01,
         9.22302838e-01,  1.22474487e+00],
       [ 1.15917263e+00,  3.28414053e-01,  1.21745768e+00,
         1.44883158e+00,  1.22474487e+00],
       [ 1.03800476e+00,  5.58610819e-01,  1.10378283e+00,
         1.71209594e+00,  1.22474487e+00],
       [ 1.03800476e+00, -1.31979479e-01,  8.19595696e-01,
         1.44883158e+00,  1.22474487e+00],
       [ 5.53333275e-01, -1.28296331e+00,  7.05920842e-01,
         9.22302838e-01,  1.22474487e+00],
       [ 7.95669016e-01, -1.31979479e-01,  8.19595696e-01,
         1.05393502e+00,  1.22474487e+00],
       [ 4.32165405e-01,  7.88807586e-01,  9.33270550e-01,
         1.44883158e+00,  1.22474487e+00],
       [ 6.86617933e-02, -1.31979479e-01,  7.62758269e-01,
         7.90670654e-01,  1.22474487e+00]])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,0.222222,1.015602,0.067797,0.041667,0
1,0.166667,-0.131539,0.067797,0.041667,0
2,0.111111,0.327318,0.050847,0.041667,0
3,0.083333,0.097889,0.084746,0.041667,0
4,0.194444,1.245030,0.067797,0.041667,0